.card {
  width: 51vw;
  margin: 0 7.32vw;
  background-color: #fff;
  box-shadow: 0px 1.5vw 3vw #2699fb33;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.66vw 0;
}
.p {
  font-size: 1.83vw;
  color: #1c1a1d;
  text-align: center;
  max-width: 29.28vw;
  margin: 2.2vw 0;
}

.input {
  height: 3.44vw;
  width: 22vw;
  border: 1px solid #bce0fd;
  font-size: 1.17vw;
  outline: none;
  text-align: center;
  opacity: 40%;
}

.heading {
  font-size: 3.3vw;
  font-weight: normal;
  color: #186aa5;
  font-weight: 700;
}

.button {
  background-color: #3d2ef5;
  height: 3.35vw;
  width: 8.78vw;
  font-size: 1.24vw;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
}
.mobileOnly {
  display: none;
}

@media (max-width: 600px) {
  .DesktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .heading {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
  }
  .p {
    font-size: 16px;
    text-align: center;
    max-width: 320px;
    line-height: 40px;
  }
  .input {
    height: 40px;
    width: 216px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
  }
  .button {
    height: 40px;
    width: 120px;
    font-size: 15px;
  }
}
