.title {
  margin-left: 21vw;
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
}

.header {
  background-color: #186aa5;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
