.title {
  margin-left: 21vw;
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
}

.header {
  background-color: #186aa5;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm {
  width: 8vw;
  height: 2.5vw;
  font-size: 1.1vw;
  background-color: #3d2ef5;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  padding: 0;
  border: none;
}

.input {
  width: 18vw;
  height: 2.7vw;
  font-size: 1.2vw;
  border: 1px solid #e2e2e6;
}
