.li {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 0.75em;
  background: #186aa5;
  margin-right: 3.66vw;
  display: inline-block;
  color: white;
  position: relative;
}

.li:first-child::before {
  content: "";
  position: absolute;
  top: 0.75em;
  left: -5em;
  width: 81em;
  height: 0.1em;
  background: #707070;
  z-index: -1;
}

.Category {
  padding: 0 1.5vw;
  height: 6.07vw;
  font-size: 3.22vw;
  font-weight: bold;
  color: #186aa5;
  border: 2px solid #186aa5;
  border-radius: 2.05vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.66vw;
}

.containCat {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.66vw;
}

.containCat1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.heading {
  color: #186aa5;
  font-size: 4vw;
  font-weight: bold;
}

.p {
  font-size: 2.05vw;
  color: #1c1a1d;
  margin-top: 3.66vw;
}

.p1 {
  font-size: 2.05vw;
  color: #1c1a1d;
  margin-bottom: 3.66vw;
}
/* For mobile ************************************************************************************************************* */
/* For mobile ************************************************************************************************************* */
/* For mobile ************************************************************************************************************* */
/* For mobile ************************************************************************************************************* */
/* For mobile ************************************************************************************************************* */
@media (max-width: 600px) {
  .heading {
    width: 280px;
    font-size: 30px;
    text-align: center;
  }

  .li {
    display: none;
  }
  .Category {
    height: 83px;
    font-size: 33px;
    margin-top: 0;
    margin-bottom: 25px;
    width: 200px;
  }
  .p {
    display: none;
  }
  .p1 {
    display: none;
  }
  .containCat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
