.Footer {
  bottom: 0;
  left: 0px;
  height: 11.3vw;
  background-color: #186aa5;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
  padding-top: 1.09vw;
  /* align-items: center; */
}

.p {
  font-size: 1.83vw;
  text-align: left;
  width: 23.64vw;
  color: #fff;
}

.an {
  color: #fff;
  font-size: 1.17vw;
  text-decoration: none;
}

a:hover {
  filter: brightness(60%);
  text-decoration: none;
  color: #fff;
}

.anchor {
  color: #fff;
  font-size: 1.17vw;
  text-decoration: none;
  font-weight: 550;
  margin-bottom: 0;
  cursor: pointer;
}
.column {
  display: flex;
  flex-direction: column;
}

.containIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 3vw;
}
.icon {
  color: #fff;
  margin: 0 0.58vw;
}

/* .Footer1 {
  bottom: 0;
  left: 0px;
  height: 20px;
  background-color: #186aa5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */
.footText {
  font-size: 1.1vw;
  color: #fff;
  filter: opacity(80%);
  margin-bottom: 0;
  /* margin-right: 10px; */
}
.mobileOnly {
  display: none;
}

/* Mobile Only ////////////////////////////////////////
//////////////////////////////////////////////////////
///////////////////////////////////////////////////
//////////////////////////////////////////////////
//////////////////////////////////////////////////
*/

@media (max-width: 600px) {
  .DesktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
    background-color: #186aa5;
    height: 324px;
    padding: 10px 28px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
  }

  .p1 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
  }
  .p2 {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0;
    /* opacity: 70%; */
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .icon {
    color: #fff;
    margin: 0 0;
    margin-left: 8px;
  }
  .an {
    font-size: 14px;
  }
  .anchor {
    font-size: 14px;
  }
}
