.p1 {
  font-size: 23px;
  color: #1c1a1d;
  text-align: center;
}

.p2 {
  font-size: 46px;
  color: #186aa5;
  font-weight: bold;
}

.heading {
  color: #186aa5;
  font-size: 58px;
  font-weight: bold;
}

.li {
  width: 88px;
  height: 88px;
  line-height: 88px;
  font-size: 36px;
  text-align: center;
  border: 2px solid #1c1a1d;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  color: #1c1a1d;
  position: relative;
  z-index: 2;
}

.li:first-child:before {
  content: "";
  position: absolute;
  top: 44px;
  left: 85px;
  width: 900px;
  height: 1px;
  background: #1c1a1d;
  z-index: -1;
  /* opacity: 80%; */
}
.li:last-child::after {
  display: none;
}

.mobileOnly {
  display: none;
}

@media (max-width: 600px) {
  .DesktopOnly {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .p2 {
    font-size: 30px;
    text-align: center;
  }
  .text {
    font-size: 15px;
    width: 178px;
    color: #1c1a1d;
    text-align: center;
  }
  .circle {
    position: relative;
    border: 2px solid #1c1a1d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 90px;
    background-color: #fff;
    z-index: 2;
  }
  .circle:first-child {
    margin-top: 0;
  }
  .circle:before {
    position: absolute;
    border: 1px solid #1c1a1d;
    width: 0;
    height: 92px;
    display: block;
    content: "";
    left: 50%;
    z-index: 1;
    top: -94px;
    margin-left: -1px;
  }
  .circle:first-child:before {
    display: none;
  }
}
