.customModal {
  width: 80vw;
  height: 90vh;
}

.combineButton {
  width: 10vw;
  height: 4.5vw;
  font-size: 2vw;
  font-weight: bold;
  color: #0f0e0e;
  background-color: #fff;
  border-radius: 5px;
}

.combineButton:active {
  background-color: #3d2ef5;
  color: #fff;
}

.signUpButton {
  background-color: #fff;
  margin: 1vw 0;
  padding: 0 1vw;
  height: 4vw;
  box-shadow: 2px 2px 8px #ccc;
  border: none;
  font-size: 1.1vw;
  font-weight: 550;
}

.signUpButton:active {
  transform: scale(0.98);
}

.title {
  margin-left: 23vw;
  color: #fff;
  font-size: 2vw;
  font-weight: bold;
}

.header {
  background-color: #186aa5;
}

.input {
  width: 18vw;
  height: 3vw;
  font-size: 1vw;
  border: 1px solid #e2e2e6;
}

.submitForm {
  width: 8vw;
  height: 2.5vw;
  font-size: 1.1vw;
  background-color: #3d2ef5;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  padding: 0;
  border: none;
}

.googlebtn {
  height: 4vw;
  background-color: #fff;
  border-radius: 2px;
  /* box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25); */
  box-shadow: 2px 2px 8px #ccc;
}
.googlebtn:hover {
  cursor: pointer;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.googleIcon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btnText {
  font-size: 1.2vw;
  font-weight: 550;
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
