.navbar {
  background-color: #fff;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid #707070;
}

.loginButton {
  background-color: #ece0fd;
  width: 122px;
  height: 51px;
  font-size: 20px;
  font-weight: 550;
  color: #3d2ef5;
  letter-spacing: 2.5px;
  margin: 0 20px;
  border: 2px solid;
  box-shadow: 2px 2px 8px #ccc;
  /* box-shadow: 1px 4px #e7e7e7; */
}

.tryButton {
  background-color: #3d2ef5;
  color: #fff;
  display: block;
  width: 252px;
  height: 51px;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 3.56px;
  border-radius: 4px;
  border: 1px solid;
  margin: 0 20px;
  box-shadow: 2px 2px 8px #ccc;
}

@media (max-width: 600px) {
  .navbar {
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    border: none;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}
  .loginButton {
    margin: 0 0;
  }
  .tryButton {
    display: none;
  }
}
