.heading {
  color: #186aa5;
  font-size: 30px;
  font-weight: bold;
}

.p1 {
  font-size: 14px;
  color: #186aa5;
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
}

@media (min-width: 601px) {
  .mobileOnly {
    display: none;
  }
}
